---
import PikiCoLayout from '@/layouts/PikiCoLayout.astro';
---

<PikiCoLayout title="Mentions légales" description="Mentions légales de Piki & Co.">
  <div class="container section">
    <div class="prose">
      <h1>Mentions légales</h1>

      <h2>Éditeur du site</h2>
      <p>Le présent site web est édité par Piki &amp; Co.</p>
      <p>Piki &amp; Co, SAS au capital de 20 000 euros,</p>
      <p>immatriculée au Registre du commerce et des sociétés de Strasbourg sous le numéro 940 848 724 00016,</p>
      <p>sise au 12 rue Chopin 67450 Mundolsheim</p>
      <p>Directeur de la publication : Amandine Piguel</p>

      <h2>Hébergeur du site</h2>
      <p>Le présent site web est hébergé par GitHub Pages (GitHub, Inc.).</p>
      <p>88 Colin P Kelly Jr St, San Francisco, CA 94107, États-Unis</p>
    </div>
  </div>
</PikiCoLayout>
